<!-- Navbar -->
{{> nav/navbar-block }}
<!-- Navbar -->

{{!-- Hide senior notification on main page --}}
<script>$("#seniorNotification").hide()</script>

<!--Main layout-->
<main id="app-wrapper" class="background-image d-flex justify-content-center min-vh-100">
    <div class="container custom-container p-1">
        {{!-- Panel Row --}}
        <div class="row row-cols-1 row-cols-md-3  mx-auto p-2 px-md-3 ">

            {{!-- Available Task Panel--}}
            <div class="col  p-2">
                {{!-- Welcome Tron --}}
                <div class="jumbotron">
                    <h2 id="user-name" data-volunteer-id={{volunteer.id}} class="h1-responsive">Hello,
                        {{volunteer.firstName}}
                    </h2>
                    <hr class="my-2 orange lighten-2">
                    <p>You have {{assignedTask.length}} active quest. Check out the calendar to find more.
                    </p>
                    <a target="_blank" class="btn btn-info btn-lg d-block d-sm-none" data-toggle="modal"
                        data-target="#Log-in-modal">
                        Open Calendar
                    </a>
                </div>
                {{!-- /. Welcome Tron --}}

                {{!--  --}}

                {{!--  --}}

                {{!-- Calendar  --}}
                <div class="card d-none d-sm-block bg-info ">
                    <div class="card-body white border border-info rounded">
                        <h5 class="card-title calendarMonthYear"></h5>
                        <div class="table-responsive ">
                            <table class="table table-sm  w-auto mx-auto">
                                <thead class="text-center ">
                                    <tr class="d-none d-lg-table-row">

                                        <th scope="col">SUN</th>
                                        <th scope="col">MON</th>
                                        <th scope="col">TUE</th>
                                        <th scope="col">WED</th>
                                        <th scope="col">THU</th>
                                        <th scope="col">FRI</th>
                                        <th scope="col">SAT</th>
                                    </tr>

                                    <tr class="d-lg-none d-md-table-row">

                                        <th scope="col">SU</th>
                                        <th scope="col">MO</th>
                                        <th scope="col">TU</th>
                                        <th scope="col">WE</th>
                                        <th scope="col">TH</th>
                                        <th scope="col">FR</th>
                                        <th scope="col">SA</th>
                                    </tr>
                                </thead>
                                <tbody class="text-center">
                                    {{!-- Week --}}
                                    <tr id="week-1-row">
                                    </tr>
                                    <tr id="week-2-row">
                                    </tr>
                                    {{!-- /. Week --}}
                                </tbody>
                            </table>
                        </div>

                        <hr class="orange lighten-2">

                        {{!-- Available Task List --}}
                        <ul
                            class="availableTaskList list-group list-group-flush border rounded-sm justify-content-center mb-3">
                            {{!-- <li class="list-group-item">Cras justo odio <span class="float-right mr-2"><button
                                        type="button" class="btn btn-sm orange lighten-2"><i
                                            class="fas fa-plus fa-lg m-0 p-0"></i></button></span></li> --}}

                        </ul>
                    </div>
                </div>
                {{!-- /. Calender --}}

            </div>
            {{!-- /. Available Task Panel--}}

            {{!-- Active Task Panel--}}
            <div class="col   my-2 p-1 ">
                {{!-- Accordion Card for Generated through Javascript/Ajax , Example here for Layout testing --}}
                <div class="accordion orange lighten-2 border rounded p-1 h-100" id="taskListAccordion">

                    <h4 class="text-center mt-2">Active Task</h4>
                    <hr class="light">

                    {{!-- Task Cards --}}
                    {{#each assignedTask}}
                    {{#unless completed}}
                    {{#ifCond task 'Dog Walking' }}
                    {{> task/activeWalkingTask-block }}
                    {{/ifCond}}
                    {{#ifCond task 'Grooming' }}
                    {{> task/activeGroomingTask-block }}
                    {{/ifCond}}
                    {{#ifCond task 'Vet Visit' }}
                    {{> task/activeVetTask-block }}
                    {{/ifCond}}
                    {{#ifCond task 'Pet Sitting' }}
                    {{> task/activeSittingTask-block }}
                    {{/ifCond}}
                    {{/unless }}
                    {{/each}}
                    {{!-- ./ Task Cards --}}
                </div>
            </div>
            {{!-- /. Active Task Panel--}}

            {{!-- Recent Activity Panel--}}
            <div class="col   p-1">
                <div class="card  text-center mb-3 h-100">
                    <div class="card-body ">
                        <h4 class="card-title mb-2">Activity</h4>
                        <hr class="info-color">
                        <div class="table-responsive">
                            <table class="table table-sm">
                                <thead>
                                    <tr>
                                        <th scope="col">Task Name</th>
                                        <th scope="col">Date of Task</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each completedTask}}
                                    {{> task/historyTask-block }}
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>


                        <p class="card-text mt-3"><small class="text-muted">Last completed activity 3 mins ago</small>
                        </p>
                    </div>
                </div>

            </div>
            {{!-- /. Recent Activity Panel--}}
        </div>

    </div>
    {{!-- /.Panels Row --}}
    </div>

</main>
<!--Main layout-->

{{!-- CALENDAR MODAL --}}
<div class="modal fade" id="Log-in-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-header">
                {{!-- Add hook for calendar month --}}
                <h5 class="card-title calendarMonthYear"></h5>
            </div>


            <div class="modal-body mb-1">
                {{!-- TO DO: Span with Buttons Here --}}

                <div class="table-responsive">
                    <table class="table table-sm w-auto ">
                        {{!-- TO DO: Generate calendar script --}}
                        <thead class="text-center ">
                            <tr>

                                <th scope="col">SU</th>
                                <th scope="col">MO</th>
                                <th scope="col">TU</th>
                                <th scope="col">WE</th>
                                <th scope="col">TH</th>
                                <th scope="col">FR</th>
                                <th scope="col">SA</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">


                            {{!-- Week --}}
                            <tr id="modal-week-1-row">
                            </tr>
                            {{!-- /. Week --}}

                            {{!-- Week --}}
                            <tr id="modal-week-2-row">
                            </tr>
                            {{!-- /. Week --}}

                        </tbody>
                    </table>
                </div>
                <hr class="orange lighten-2">

                <ul class="availableTaskList list-group list-group-flush border rounded-sm justify-content-center mb-3">
                    {{!-- <li class="list-group-item py-1">Cras justo odio <span class="float-right"><button type="button"
                                class="btn btn-sm orange lighten-2 px-2"><i
                                    class="fas fa-plus fa-lg m-0 p-0"></i></button></span></li>
                     --}}
                </ul>
            </div>
            <!--Footer-->
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-outline-info waves-effect ml-auto"
                    data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- MODAL -->

{{!-- Javascript --}}
<script src="/js/app.js"></script>