<div class="container">
    {{!--                    --}}
    {{!-- google maps window --}}
    {{!--                    --}}
    <h1>Dog Walk Volunteer</h1>
    <div class="row">
        <div class="col-md-12">
            <div id="map"></div>

            {{!-- AIzaSyAlo05wNKIX0KloedL8b3ux0RTS77YmOAA - alvaroAPI key --}}
            {{!-- function initMap() is called directly from src --}}
            <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAlo05wNKIX0KloedL8b3ux0RTS77YmOAA&callback=initMap"></script>
        </div>
    </div>

    {{!--                    --}}
    {{!-- start/stop buttons --}}
    {{!--                    --}}
    <div class="row">
        <div class="col-md-12">
            <button><a href="/">← Back To Home</a></button>
            <button id="startWalk">Start Walk</button>
            <button id="endWalk">End Walk</button>
        </div>
    </div>
</div>