.list-group-item {
  line-height: 2.5;
}

/* change default active color of tab pill to indigo */
a.active.nav-link {
  background-color: #3f51b5 !important;
}

html,
body,
header,
.view {
  height: 70vh;
}

@media (min-width: 320px) and (max-width: 425px) {
  html,
  body,
  header,
  .landing-view {
    height: 800px !important;
  }
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 1000px;
  }
}

@media (min-width: 768px) and (max-width: 850px) {
  html,
  body,
  header,
  .view {
    height: 650px;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
    background: #1c2331 !important;
  }
}
/* Navbar animation */
.navbar {
  background-color: rgba(0, 0, 0, 0.3);
}

.top-nav-collapse {
  background-color: #1c2331;
}

/* Adding color to the Navbar on mobile */
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #1c2331;
  }
}

.background-image {
  background-image: url("/images/3617762.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #1c2331;
}
