.list-group-item {
  line-height: 2.5;
}

/* change default active color of tab pill to indigo */
a.active.nav-link {
  background-color: #3f51b5 !important;
}

/* Customize bootstrap containers to remove margins for fullscreen web app */
.container.custom-container {
  padding: 0 0px;
  margin: 0;
  margin-top: 5rem;
  max-width: inherit;
}

html,
body,
header,
.view {
  height: 70vh;
}

@media (min-width: 320px) and (max-width: 425px) {
  html,
  body,
  header,
  .landing-view {
    height: 800px !important;
  }
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 1000px;
  }
}

@media (min-width: 768px) and (max-width: 850px) {
  html,
  body,
  header,
  .view {
    height: 650px;
  }
}

@media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
    background: #1c2331 !important;
  }
}
/* Navbar animation */
.navbar {
  background-color: rgba(0, 0, 0, 0.3);
}

.top-nav-collapse {
  background-color: #1c2331;
}

/* Adding color to the Navbar on mobile */
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #1c2331;
  }
}

.background-image {
  background-image: url("/images/3617762.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #1c2331;
}

/* Calendar */

.btn.btn-calendar {
  padding-right: 1rem;
  padding-left: 1rem;
}

.btn.btn-calendar-modal {
  padding-right: 0.45rem !important;
  padding-left: 0.45rem !important;
}

@media (min-width: 340px) and (max-width: 365px) {
  .btn.btn-calendar-modal {
    padding-right: 0.6rem !important;
    padding-left: 0.6rem !important;
  }
}

@media (min-width: 365px) and (max-width: 380px) {
  .btn.btn-calendar-modal {
    padding-right: 0.7rem !important;
    padding-left: 0.7rem !important;
  }
}

@media (min-width: 380px) and (max-width: 1024px) {
  .btn.btn-calendar-modal {
    padding-right: 0.9rem !important;
    padding-left: 0.9rem !important;
  }
}

@media (min-width: 850px) and (max-width: 1024px) {
  .btn.btn-calendar {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
}

@media (min-width: 700px) and (max-width: 768px) {
  .btn.btn-calendar {
    padding-right: 0.25rem;
    padding-left: 0.25rem;
  }
}

/* ///////// */
/* MAP STYLE */
/* ///////// */
#map {
  /* Always set the map height explicitly to define the size of the div element that contains the map. */
  /* height: 100%; */
  height: 600px;
}

html,
body {
  /* Optional: Makes the sample page fill the window. */
  height: 100%;
  margin: 0;
  padding: 0;
}

.active.nav-link.active-custom {
  background-color: #33b5e5 !important;
}
