<!-- Navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
    {{!-- <a class="navbar-brand" href="#">Senior Pets</a> --}}
    <a class="navbar-brand" href="#"><img src="/images/SeniorPetsLogoFull.png" height="30" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                {{!-- <a class="nav-link" href="/">Home</a> --}}
            </li>
        </ul>
        <span id="seniorNotification" class="navbar-text white-text">
            For seniors needing services please contact admin@email.com
        </span>
    </div>
</nav>
<!-- Navbar -->